<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/styleMenuProdutos.css}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		
		<div class="container">
			<header>
				<div>
					<img th:src="@{/images/logo.png}" width="100" height="100" />
				</div>
				<div class="navBar">
					<ul>
						<div class="itens" onmouseover="entro(this)" onmouseout="saiu(this)" id="itens-ini"><a th:href="@{/product/}"><li>Informações de Reciclagem</li></a></div>
						<div class="itens"  onmouseover="entro(this)" onmouseout="saiu(this)"><a th:href="@{/product/registerProduct}"><li>Cadastrar produto</li></a></div>
						<div class="itens"  onmouseover="entro(this)" onmouseout="saiu(this)" id="itens-fim"><a th:href="@{/product/table}"><li>Tabela de produtos cadastrados</li></a></div>
					</ul>
				</div>
			</header>
			<main>
				<div class="botao-daltonico" onclick="mudar()">
					<img th:src="@{/images/iconeDaltonico.png}"/>
				</div>
				
				<div class="titulo-pagina">
					<h1>ESCOLHA O PRODUTO</h1>
				</div>
				
				<div class="retrocederPagina" onclick="voltar()">
					<img th:src="@{/images/setaVoltar2.png}"  />
					<h4>VOLTAR</h4>
				</div>
				
				<div class="barraPesquisa">
					<input type="search" name="q" placeholder="Escreva o nome do produto">
					<button><img th:src="@{/images/lupa.png}"  /></button>
				</div>
				<div id="posicoes-materiais" th:switch="${products}">
					<div class="itens-materiais" th:each="product : ${products}">
						<a class="organizacao-produtos" th:href="@{/product/infoProduct/{id}(id=${product.id})}">
							<div class="images-produtos">
								<img th:src="@{/images/produtoGenerico.png}" width="100" height="100" />
							</div>
							
							<div class="texto-produtos">
								<h4 th:text="${product.name}"></h4>
							</div>
						</a>
					</div>
				</div><br><br>
				
				
			</main>
			
			<footer>
				<div class="rodape-left">
					<p>Email: reciclamais@hotmail.com </p>
					<p>Telefone: 99999999-999999</p>
				</div>
				<div class="rodape-right">
					<ul>
						<li><a><img th:src="@{/images/logoInsta.png}" width="50" height="50" /> </a></li>
						<li><a><img th:src="@{/images/logoFace.png}" width="50" height="50" /> </a></li>
						<li><a><img th:src="@{/images/logoTwitter.png}" width="50" height="50" /> </a></li>
					</ul>
				</div>
			</footer>
		</div>
		<div vw class="enabled">
    		<div vw-access-button class="active"></div>
    		<div vw-plugin-wrapper>
      			<div class="vw-plugin-top-wrapper"></div>
    		</div>
 		</div>
 		
  		<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  		<script>
    		new window.VLibras.Widget('https://vlibras.gov.br/app');
  		</script>
  		
  		<script>
  			var color = document.getElementsByClassName('itens')
  			var rodape = document.getElementsByTagName('footer')
  			var main = document.getElementsByTagName('main')
  			var daltonico = false
  			function mudar(){
	
				if(daltonico == false){
					daltonico = true
				}
				
				else{
					daltonico = false
				}
				
				if(daltonico == true){
					
					for(i = 0; i < color.length; i++){
						color[i].style.backgroundColor = "#043371"
				
					}
					
					rodape[0].style.backgroundColor = "#043371"
					main[0].style.backgroundColor = "#0A6CA4"
				}
				
				else{
					
					window.location.reload();
				}
				
			}
			
			function voltar(){
				window.history.back()
			}
			
			function entro(obj){
				if(daltonico == true){
					obj.style.backgroundColor = "#10649C"
				}
				
			}
			
			function saiu(obj){
				if(daltonico == true){
					obj.style.backgroundColor = "#043371"
				}
				
			}
			
  		</script>
  		
	</body>
</html>