<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/styleInfoProduct.css}" />
	</head>
	
	<body>
		<!--<div class="productInfo" th:object="${product}">
			<h1 th:text="${product.name}"></h1>
			<img>
			<p th:text="${product.description}"></p>
		</div> -->
		<div class="container">
			<header>
				<div>
					<img th:src="@{/images/logo.png}" width="100" height="100" />
				</div>
				<div class="navBar">
					<ul>
						<div class="itens" id="itens-ini"><a th:href="@{/product/}"><li>Informações de Reciclagem</li></a></div>
						<div class="itens"><a th:href="@{/product/registerProduct}"><li>Cadastrar produto</li></a></div>
						<div class="itens" id="itens-fim"><a th:href="@{/product/table}"><li>Tabela de produtos cadastrados</li></a></div>
					</ul>
				</div>
			</header>
			<main>
				<div class="botao-daltonico" onclick="mudar()">
					<img th:src="@{/images/iconeDaltonico.png}"/>
				</div>
				
				<div class="titulo-pagina" th:object="${product}">
					<h1 th:text="${product.name}"></h1>
				</div>
				
				<div class="retrocederPagina">
					<img th:src="@{/images/setaVoltar2.png}"  />
					<a th:href="@{/product/}">Escolher material</a>
				</div>
				
				<div id="posicoes-carrossel">
					<div class="itens-carossel" id="setaCarrossel1"><img th:src="@{/images/setaCarrossel.png}" width="100" height="100" /></div>
					<div class="itens-carossel" id="imageCarrossel"><img th:src="@{/images/produtoGenerico.png}" width="100" height="100" alt="Produto" /></div>
					<div class="itens-carossel" id="setaCarrossel2"><img th:src="@{/images/setaCarrossel.png}" width="100" height="100" /></div>
					
				</div>
				
				<div id="descricao-produto">
					<p th:text="${product.description}"></p>
				</div><br><br>
				
				
			</main>
			
			<footer>
				<div class="rodape-left">
					<p>Email: reciclamais@hotmail.com </p>
					<p>Telefone: 99999999-999999</p>
				</div>
				<div class="rodape-right">
					<ul>
						<li><a><img th:src="@{/images/logoInsta.png}" width="50" height="50"  /> </a></li>
						<li><a><img th:src="@{/images/logoFace.png}" width="50" height="50" /> </a></li>
						<li><a><img th:src="@{/images/logoTwitter.png}" width="50" height="50" /> </a></li>
					</ul>
				</div>
			</footer>
		</div>
		
		<div vw class="enabled">
    		<div vw-access-button class="active"></div>
    		<div vw-plugin-wrapper>
      			<div class="vw-plugin-top-wrapper"></div>
    		</div>
 		</div>
 		
  		<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  		<script>
    		new window.VLibras.Widget('https://vlibras.gov.br/app');
  		</script>
  		<script>
  			var color = document.getElementsByClassName('itens')
  			var rodape = document.getElementsByTagName('footer')
  			var main = document.getElementsByTagName('main')
  			var descricao = document.getElementById('descricao-produto')
  			var daltonico = false
  			function mudar(){
	
				if(daltonico == false){
					daltonico = true
				}
				
				else{
					daltonico = false
				}
				
				if(daltonico == true){
					
					for(i = 0; i < color.length; i++){
						color[i].style.backgroundColor = "#043371"
				
					}
					
					rodape[0].style.backgroundColor = "#043371"
					main[0].style.backgroundColor = "#0A6CA4"
					descricao.style.backgroundColor = "#052B84"
				}
				
				else{
					
					window.location.reload();
				}
				
			}
			
			
			
			
  		</script>
  		
	</body>
</html>