<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/styleInfoProduct.css}" />
	</head>
	
	<body>
		<!--<div class="productInfo" th:object="${product}">
			<h1 th:text="${product.name}"></h1>
			<img>
			<p th:text="${product.description}"></p>
		</div> -->
		<div class="container">
			<header>
				<div>
					<img th:src="@{/images/logo.png}" width="100" height="100" />
				</div>
				<div class="navBar">
					<ul>
						<div class="itens" id="itens-ini"><li>Informações de Reciclagem</li></div>
						<div class="itens"><li>Cadastrar produto</li></div>
						<div class="itens" id="itens-fim"><li>Tabela de produtos cadastrados</li></div>
					</ul>
				</div>
			</header>
			<main>
				<div class="titulo-pagina" th:object="${product}">
					<h1 th:text="${product.name}"></h1>
				</div>
				<div id="posicoes-carrossel">
					<div class="itens-carossel" id="setaCarrossel1"><img th:src="@{/images/setaCarrossel.png}" width="100" height="100" /></div>
					<div class="itens-carossel" id="imageCarrossel"><img th:src="@{/images/produtoGenerico.png}" width="100" height="100" /></div>
					<div class="itens-carossel" id="setaCarrossel2"><img th:src="@{/images/setaCarrossel.png}" width="100" height="100" /></div>
					
				</div>
				
				<div id="descricao-produto">
					<p th:text="${product.description}"></p>
				</div>
			</main>
			
			<footer>
				<div class="rodape-left">
					<p>Email: reclamais@hotmail.com </p>
					<p>Telefone: 99999999-999999</p>
				</div>
				<div class="rodape-right">
					<ul>
						<li><a><img th:src="@{/images/logoInsta.png}" width="50" height="50" /> </a></li>
						<li><a><img th:src="@{/images/logoFace.png}" width="50" height="50" /> </a></li>
						<li><a><img th:src="@{/images/logoTwitter.png}" width="50" height="50" /> </a></li>
					</ul>
				</div>
			</footer>
		</div>
		
		<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
	</body>
</html>