main #posicoes-carrossel{
	display:grid;
	grid-template-columns: 20% 60% 20% ;
	margin-left: 15%;
	margin-right: 15%;
	place-items: center;
}

main #posicoes-carrossel .itens-carossel{
	border-radius: 5px;
	
	display:grid;
	place-items: center;
}

main #posicoes-carrossel #imageCarrossel{
	height: 200px;
	background-color: rgb(255, 255, 255);
	width: 80%;
	
}

main #posicoes-carrossel #setaCarrossel1{
	 transform: rotateY(180deg);	
}

main #posicoes-carrossel #setaCarrossel1:hover{
	 border: 1px solid black;
	 box-shadow: #000000;
	 background-color: #0DBC25;
}

main #posicoes-carrossel #setaCarrossel2:hover{
	 border: 1px solid black;
	 box-shadow: #000000;
	 background-color: #0DBC25;
}
main #posicoes-materiais itens-carossel img{
	width: 80%;
	height: 80%;
	
}

main #descricao-produto{
	margin: 3%;
	background-color: #058416;
	border-radius: 5px;
	
	height: 200px;
	color: white;
	margin-bottom: 2%;
	border: 0.5px solid black;
	box-shadow: #000000;
}

main #descricao-produto p{
	margin-left: 2%;
	
}

.retrocederPagina {
	display: grid;
	place-items: left;
	margin-top: 1.5%;
	margin-left: 4%;
}

.retrocederPagina a {
	text-decoration: none;
	color: white;
}